<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Details</title>
    <link rel="stylesheet" href="../dist/css/main.css">
    <link rel="icon" type="image/x-icon" href="imgs/logo.png">
  </head>

  <body>
    <header class="header">
      <div class="header__container container">
        <div class="header__container-top">
          <a href="../index.html">
            <div class="title">
              <img src="../imgs/logo.png" alt="">
              <h1>Bnbair</h1>
            </div>
          </a>

          <div class="options">
            <button class="button-17" role="button"><img src="../imgs/descarga.jpeg" alt=""><img
                src="../imgs/profile-icon-9.png" alt=""></button>
          </div>
        </div>

      </div>

      </div>

    </header>

    <div class="section-center">
      <div id="item-details"></div>
    </div>
    </section>

    <div class="siteinfo">
      <div class="recomendaciones">
        <h3>Inspiración para futuras escapadas</h3>
        <ul class="horizontal-list">
          <li>Populares</li>
          <li>Arte y cultura</li>
          <li>Al aire libre</li>
          <li>Montañas</li>
          <li>Playa</li>
          <li>Categorías</li>
          <li>Qué hacer</li>
        </ul>
        <div class="grid-container">
          <div class="grid-item">
            <p>Londres</p>
            <p class="estadia">Condominio</p>
          </div>
          <div class="grid-item">
            <p>París</p>
            <p class="estadia">Casas en renta</p>
          </div>
          <div class="grid-item">
            <p>Nueva York</p>
            <p class="estadia">Alquileres</p>
          </div>
          <div class="grid-item">
            <p>Tokio</p>
            <p class="estadia">Cabañas</p>
          </div>
          <div class="grid-item">
            <p>Roma</p>
            <p class="estadia">Condominios</p>
          </div>
          <div class="grid-item">
            <p>Sídney</p>
            <p class="estadia">Casas en renta</p>
          </div>
          <div class="grid-item">
            <p>Berlín</p>
            <p class="estadia">Alquileres</p>
          </div>
          <div class="grid-item">
            <p>Madrid</p>
            <p class="estadia">Cabañas</p>
          </div>
          <div class="grid-item">
            <p>Ámsterdam</p>
            <p class="estadia">Condominios</p>
          </div>
          <div class="grid-item">
            <p>Seúl</p>
            <p class="estadia">Casas en renta</p>
          </div>
          <div class="grid-item">
            <p>Moscú</p>
            <p class="estadia">Alquileres</p>
          </div>
          <div class="grid-item">
            <p>Toronto</p>
            <p class="estadia">Cabañas</p>
          </div>
          <div class="grid-item">
            <p>Estambul</p>
            <p class="estadia">Condominios</p>
          </div>
          <div class="grid-item">
            <p>San Francisco</p>
            <p class="estadia">Casas en renta</p>
          </div>
          <div class="grid-item">
            <p>Dubái</p>
            <p class="estadia">Alquileres</p>
          </div>
          <div class="grid-item">
            <p>Sao Paulo</p>
            <p class="estadia">Cabañas</p>
          </div>
          <div class="grid-item">
            <p>Bangkok</p>
            <p class="estadia">Condominios</p>
          </div>
          <div class="grid-item">
            <p>Cairo</p>
            <p class="estadia">Casas en renta</p>
          </div>
        </div>
      </div>

      <div class="containinfo">
        <div id="asistenia">
          <ul>
            <li><strong>Centro de Ayuda</strong></li>
            <li>AirCover</li>
            <li>Antidiscriminación</li>
            <li>Apoyo para discapacitados</li>
            <li>Opciones de cancelación</li>
            <li>Problemas en la zona</li>
          </ul>

        </div>

        <div id="anfitrion">
          <ul>
            <li><strong>Cómo ser anfitrión</strong></li>
            <li>Hazlo Airbnb</li>
            <li>AirCover para anfitriones</li>
            <li>Recursos para hospedar</li>
            <li>Foro de la comunidad</li>
            <li>Ser un anfitrión responsable</li>
            <li>Apúntate a una clase gratuita sobre cómo ser anfitrión</li>
          </ul>

        </div>

        <div id="airbnb">
          <ul>
            <li><strong>Airbnb</strong></li>
            <li>Sala de prensa</li>
            <li>Funciones nuevas</li>
            <li>Empleo</li>
            <li>Inversores</li>
            <li>Alojamientos Airbnb.org</li>
          </ul>
        </div>


      </div>
    </div>


    <footer>
      <p>© 2024 Airbnb, Inc. · Privacidad · TérminosMapa del sitio · Información de la compañía</p>
      <div class="companies">
        <img src="https://cdn-icons-png.flaticon.com/512/49/49665.png" alt="facebook">
        <img
          src="https://img.freepik.com/vector-gratis/nuevo-diseno-icono-x-logotipo-twitter-2023_1017-45418.jpg?size=338&ext=jpg&ga=GA1.1.1319243779.1710374400&semt=ais"
          alt="X">
        <img src="https://i.pinimg.com/originals/1e/d9/a0/1ed9a0fd507968861891b1098f480f4a.png" alt="instagram">
      </div>
    </footer>


    <script>
      function displayItemDetails(item) {
        console.log(item);
        const detailsContainer = document.getElementById('item-details');
        detailsContainer.innerHTML = `
      <div class="maincont">
  <h4 class="utitle">${item.ubicacion} </h4>

            <div class="containerelements">
                <div class="char-imgs-main">
                  <img src="${item.img}" alt="${item.ubicacion}" class="main-img">
                </div>
                <div class="char-imgs-rest">
                  <img src="${item.img2}" alt="${item.ubicacion}" class="side-img">
                  <img src="${item.img3}" alt="${item.ubicacion}" class="side-img">
                  <img src="${item.img4}" alt="${item.ubicacion}" class="side-img">
                  <img src="${item.img5}" alt="${item.ubicacion}" class="side-img">
                </div>
                  </div>

            <div class="descripcion">
                <div class="item-details">
                  <div class="itembx">
                        <h4 class="ubicacion">${item.ubicacion}</h4>
                        <p class="distancia">${item.huespedes} huéspedes · ${item.habitaciones} habitación · ${item.camas} camas · ${item.banos} baño</p>
                        <h4 class="impinfo">☆${item.calificacion} · ${item.evaluaciones} evaluaciones</h4> 
                        
                        <div class="anfi">
                        <img src="${item.hostimg}" alt="${item.hostimg}" class="anfitrionimg">
                        <div class="anfitrioninfo">
                        <h4><p>Anfitrión: ${item.anfitrion}</p></h4>
                        <h5><p>${item.experiencia} · ${item.tiempo} años de experiencia</p></h5>
                        </div>
                        </div>
                        <div class="caracteristicas">
                          <div class="car1">
                            <img src="https://cdn-icons-png.flaticon.com/128/2607/2607179.png" alt="drimg" class="carimg">
                            <div class="cdatos">
                            <h3>${item.dato1.nombre}</h3>
                            <h4>${item.dato1.descripcion}</h4>
                            </div>
                          </div>
                          <div class="car2">
                            <img src="https://cdn-icons-png.flaticon.com/128/2838/2838912.png" alt="lcimg" class="carimg">
                            <div class="cdatos">
                            <h3>${item.dato2.nombre}</h3>
                            <h4>${item.dato2.descripcion}</h4>
                            </div>
                          </div>
                          <div class="car3">
                            <img src="https://cdn-icons-png.flaticon.com/128/969/969088.png" alt="mdimg" class="carimg">
                            <div class="cdatos">
                            <h3>${item.dato3.nombre}</h3>
                            <h4>${item.dato3.descripcion}</h4>
                            </div>
                          </div>
                          </div>
                          <h4 class="informacionimp">${item.desc}</h4> 

                    </div>
                </div>

                <div class="compra">
                  <div class="shadowbx">
                    <h4 class="precio">${item.precio}</h4>
                    <div class="noches">
                        <button class="decrease">-</button>
                        <div class="counter">1</div>
                        <button class="increase">+</button>
                    </div>
                    <h4 class="precio-final">Precio Final: $<span id="precio-final"></span></h4>
                    <button class="reservar">Reservar</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
            `;

        const precioElement = document.getElementById('precio');
        const counterElement = document.querySelector('.counter');
        const precioFinalElement = document.getElementById('precio-final');
        const decreaseButton = document.querySelector('.decrease');
        const increaseButton = document.querySelector('.increase');
        const reservarButton = document.querySelector('.reservar');
        const shadowboxel = document.querySelector('.shadowbx');
        const btn17 = document.querySelector('.button-17');

        let precio = filtrarPrecio(item.precio);
        let noches = parseInt(counterElement.innerText);

        function updatePrecioFinal() {
          precioFinalElement.innerText = (precio * noches).toFixed(2);
        }

        decreaseButton.addEventListener('click', function () {
          if (noches > 1) {
            noches--;
            counterElement.innerText = noches;
            updatePrecioFinal();
          }
        });

        increaseButton.addEventListener('click', function () {
          noches++;
          counterElement.innerText = noches;
          updatePrecioFinal();
        });

        function filtrarPrecio(precioString) {
          let precioLimpio = precioString.replace('$', '').replace(' MXN noche', '');
          precioLimpio = precioLimpio.replace(',', '');
          let precioNumerico = parseFloat(precioLimpio);
          return precioNumerico;
        }

        reservarButton.addEventListener('click', function () {
          const noches = parseInt(counterElement.innerText);
          const precioFinal = parseFloat(precioFinalElement.innerText.replace('Precio Final: $', ''));
          const url = `reservacion.html?noches=${noches}&precioFinal=${precioFinal}`;
          window.location.href = url;
        });
      }

      const itemData = JSON.parse(decodeURIComponent(window.location.hash.substr(1)));
      displayItemDetails(itemData);

      window.addEventListener('scroll', function () {
        const header = document.querySelector('header');
        header.classList.toggle('sticky', window.scrollY > 0);
      });

      btn17.addEventListener('click', function () {
        const dropdownMenu = document.querySelector('.dropdown-menu');
        dropdownMenu.classList.toggle('show');
      });




      // window.addEventListener('scroll', function () {
      //   const shadowboxel = document.querySelector('.shadowbx');
      //   const footer = document.querySelector('footer');
      //   const shadowboxTop = shadowboxel.offsetTop;
      //   const footerTop = footer.offsetTop;

      //   if (window.scrollY > shadowboxTop && window.scrollY < footerTop) {
      //     shadowboxel.classList.add('stickybx');
      //   } else {
      //     shadowboxel.classList.remove('stickybx');
      //   }
      // });

    </script>
  </body>

</html>